<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQ7gNNwSqdExnkO3WNdlAxKGHgu0nsYT0</string>
	<key>GCM_SENDER_ID</key>
	<string>579474951107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieappCleanarchitrcture</string>
	<key>PROJECT_ID</key>
	<string>movie-app-c61fa</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-app-c61fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579474951107:ios:a0182b5e11b128d926cb76</string>
</dict>
</plist>