<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239458715044-6ud64b10ptqh9damh3sirt013bbbbnco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239458715044-6ud64b10ptqh9damh3sirt013bbbbnco</string>
	<key>API_KEY</key>
	<string>AIzaSyAxrxc6rfeKlrl0yrEGQ7QSCWbOPfpbeYE</string>
	<key>GCM_SENDER_ID</key>
	<string>239458715044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieappCleanarchitrcture.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movieapp2-1531b</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp2-1531b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239458715044:ios:e232c895c3a7120bbfed31</string>
</dict>
</plist>